[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flake8 = "*"
setuptools = "*"
matplotlib = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
